<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ImportTanshouOdds" value="true" />
        <add key="ImportWakurenOdds" value="true" />
        <add key="ImportUmarenOdds" value="true" />
        <add key="ImportFukushouOdds" value="true" />
        <add key="ImportWideOdds" value="true" />
        <add key="ImportUmatanOdds" value="true" />
        <add key="ImportSanrenpukuOdds" value="true" />
        <add key="ImportSanrentanOdds" value="true" />
    </appSettings>
    <system.data>
        <DbProviderFactories>
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        </DbProviderFactories>
	</system.data>
	<startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" />
    </startup>
</configuration>
